* {
    box-sizing: border-box;
}

html {
    font-family: 'Montserrat', 'sans-serif';
    --color-primary: #e68a19;
}

body {
    background-color: #111;
    color: whitesmoke;
    margin: 0;
}

main {
    width: 90%;
    max-width: 50rem;
    margin: 0 auto;
}

ul,
ol {
    list-style: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: var(--color-primary);
}

.btn {
    cursor: pointer;
    font: inherit;
    padding: 0.5rem 1.5rem;
    background-color: var(--color-primary);
    color: whitesmoke;
    border: none;
    border-radius: 5px;
}

.btn:hover,
.btn:active {
    filter: brightness(0.9);
}